.photo-thumb {
  float:left;
  width: $thumb_size;
  height: $thumb_size;
  @include frame-border(5px);
  margin: 0 0 20px 18px;

  img {
    @include inner-shadow;
    width: $thumb_size;
    height: $thumb_size;
  }
}

#latest {
  margin: 0 auto;
  width: 1400px;
}